.container {
  position: relative;
  height: auto;
}
#recipe {
  position: absolute;
  top: 25%;
  background-color: rgb(235, 214, 232);
  height: 100vh;
  width: 200vh;
  margin-left: 40px;
}
#recipe-header {
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  width: 200vh;
  height: 50px;

  text-align: center;
  font-size: 30px;
  padding: 5px, 5px;
}
#recipe-header p {
  margin-left: 514px;
}
#img {
  margin-top: 15px;
  margin-left: 40px;
  height: 400px;
  width: 400px;
  border: 2px solid black;
}
h2 {
  text-align: center;
  color: rgba(22, 19, 19, 0.671);
}
h3 {
  position: absolute;
  top: 280%;
  left: 30%;
  text-align: center;
}
input {
  position: absolute;
  left: 38%;
  padding: 5px;
  width: 210px;
  border-radius: 5px;
}
button {
  position: absolute;
  right: 30%;
  padding: 5px;
}
#division {
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: 30px;
}
form {
  position: absolute;
}
#mealsdetails {
  display: flex;
}
#ingrediants {
  background-color: rgb(216, 216, 216);
  display: flex;
  width: 700px;
  height: 300px;
  overflow-y: scroll;
}
#process {
  width: 700px;
  height: 100px;
  overflow-y: scroll;
  background-color: lightgray;
}
#rec {
  text-align: center;
  font-size: 20px;
}
#display {
  font-size: 20px;
  height: 100px;
  margin-top: 110px;
}
